/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.black-overlay{
  background-color: rgba(0,0,0,0.7);
}


.image_overlay{
  /* background-color: linear-gradient(to bottom,rgba(255,255,255,0.4) 60%,rgba(0,0,0,0.7)); */
  background-color:;
}